.container{
  width: 100%;
  height: 100vh;
  background-color: #0B1D26;
  nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
    color: white;
    h1{
font-weight: 700;
font-size: 32px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 1%;
text-transform: capitalize;

    }
    ul{
      display: flex;
      gap: 20px;
      li{
        font-family: Inter;
font-weight: 700;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
cursor: pointer;
      }
    }
    .acc{
      display: flex;
      gap: 10px;
      align-items: center;
      p{
        font-family: Gilroy;
font-weight: 700;
font-size: 17px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;

      }
    }
  }

}